#intro-section {
    background: url("../img/intro-section-background.jpg");
    background-size: cover;
}

.page-template
{
    padding-top: 150px;
    padding-bottom: 30px
}

.first-panel
{
    color: #fff;
    background: #34495E;
}

.even-panel {
    color: #fff;
    background: #34495E;
    padding-top: 30px;
    padding-bottom: 30px;
}

.odd-panel {
    padding-top: 30px;
    padding-bottom: 30px;
}


/*======== ABOUT PAGE STYLING ============*/

#mdpicture
{
    margin: 40px;
}
.message
{
    text-align: justify;
    font-size: 16px;
    text-justify: inter-word;
}


.leadership-tile
{
    padding: 20px;
}

.about-person
{
    text-align: justify;
    font-size: 15px;
}

.title-person
{
    text-align: center;
}
/*========= Bootstrap Modification for navbar ============*/

@media (min-width: 768px) and (max-width: 1000px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

/*==== overide footer css =====*/
footer .footer-col {
    margin-bottom: 20px;
}

.team-member
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url('../img/icon_top.png') no-repeat;

}

.home-panel
{
    padding: 10px;
    align: center;
}

.client-logo
{
   width: 250px;
   height: 250px;
   align: center;
   padding: 10px;
}