#intro-section {
    background: url("../img/intro-section-background.jpg");
    background-size: cover;
}

.page-template
{
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;

}

.even-panel {
    color: #fff;
    background: #BFC1C2;
    padding-top: 30px;
}

.odd-panel {
    padding-bottom: 30px;
}


/*======== ABOUT PAGE STYLING ============*/

#mdpicture
{
    margin: 30px;
}
.director-message
{
    text-align: justify;
    font-size: 16px;
    text-justify: inter-word;
}


.leadership-tile
{
    padding: 20px;
}

.about-person
{
    text-align: justify;
    font-size: 15px;
}

.title-person
{
    text-align: center;
}
/*========= Bootstrap Modification for navbar ============*/

@media (min-width: 768px) and (max-width: 1000px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

/*==== overide footer css =====*/
footer .footer-col {
    margin-bottom: 20px;
}

.team-member
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}