<div class="container" id="graph-component">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                <form class="form-inline" role="search">
                    <div class="form-group">
                        <search id="source"></search>
                    </div>
                    <div class="form-group">
                        <search id="destination"></search>
                    </div>
                    <button class="btn btn-info" ng-click="onGraphSearch()"><i class="glyphicon glyphicon-search"></i></button>
                </form>
            </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12" >
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="graph" > </div>
                </div>
            </div>
        </div>
    </div>
</div>